<%= form_for(@room_photo) do |f| %>
  <% if @room_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_photo.errors.count, "error") %> prohibited this room_photo from being saved:</h2>

      <ul>
      <% @room_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
