<h1>Listing room_photos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_photos.each do |room_photo| %>
      <tr>
        <td><%= room_photo.name %></td>
        <td><%= room_photo.room_id %></td>
        <td><%= link_to 'Show', room_photo %></td>
        <td><%= link_to 'Edit', edit_room_photo_path(room_photo) %></td>
        <td><%= link_to 'Destroy', room_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room photo', new_room_photo_path %>
