<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_photo.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @room_photo.room_id %>
</p>

<%= link_to 'Edit', edit_room_photo_path(@room_photo) %> |
<%= link_to 'Back', room_photos_path %>
