<div class="container">
  <div class="row">
    <div class="col-lg-4">
    <h2>Зарегистрироваться</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(от <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Зарегистрироваться", :class => 'btn btn-default' %>
      </div>
      <% end %>
      <br>
      Уже регистрировались? <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
