<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= form_for(@hotel) do |f| %>
  <div class="row">
    <% if @hotel.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

        <ul>
        <% @hotel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-12 col-xs-12">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-12 col-xs-12">
      <%= f.label :short_description %><br>
      <%= f.text_area :short_description, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-12 col-xs-12">
      <%= f.label :additional %><br>
      <%= f.text_area :additional, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <label><%= f.label "Инфраструктура отеля:" %></label><br>
      <%= hidden_field_tag "hotel[service_ids][]", nil %>
      <% Service.all.each do |service| %>
      <ul class="list-inline">
        <li><label><%= check_box_tag "hotel[service_ids][]", service.id, @hotel.service_ids.include?(service.id) %>
          <%= service.name %></label></li>
        </ul>
        <% end %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :checkin %><br>
      <%= f.text_field :checkin, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :checkout %><br>
      <%= f.text_field :checkout, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :minimal_price %><br>
      <%= f.number_field :minimal_price, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :price_url %><br>
      <%= f.text_field :price_url, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :address %><br>
      <%= f.text_field :address, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-12 col-xs-12">
      <label><%= f.label "Отметка объекта на карте:" %></label>
      <div id="map" style="height:300px;width:600px;z-index:9999"></div>
      <%= f.hidden_field :latitude %><%= f.hidden_field :longitude %>
      <script type="text/javascript">
        window.onload = function() {
          var latlng = new google.maps.LatLng('<%= @hotel.latitude %>', '<%= @hotel.longitude %>');
          var map = new google.maps.Map(document.getElementById('map'), {
              center: latlng,
              zoom: 18,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });
          var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              title: 'Set lat/lon values for this property',
              draggable: true
          });
          google.maps.event.addListener(marker, 'dragend', function(a) {
              console.log(a);
              var div = document.createElement('div');
              document.getElementById('hotel_latitude').value = a.latLng.lat().toFixed(4);
              document.getElementById('hotel_longitude').value = a.latLng.lng().toFixed(4);

              document.getElementsByTagName('body')[0].appendChild(div);
          });
      };
      </script>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :resort_id %><br>
      <%= f.select(:resort_id, Resort.all.collect {|p| [ p.name, p.id ] }, :class =>"form-control") %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :image %><br>
      <%= f.file_field :image, :class =>"form-control" %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <label>Выводить на главной</label>
      <br>
      <%= f.check_box :special %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <label>Выводить в баннер</label>
      <br>
      <%= f.check_box :banner %>
    </div>
    <div class="form-group col-lg-12 col-xs-12">
      <div class="actions">
        <%= f.submit 'Сохранить', :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
