#filelist Ваш браузер не поддерживает HTML5, Flash, и даже Silverlight:(
#console
%br/
#container.uploader-ui
  %a#pickfiles.btn.btn-primary{href: "javascript:;"} Выбрать файлы
  %a#uploadfiles.btn.btn-success{href: "javascript:;"} Загрузить

:javascript
  var token=$('meta[name="csrf-token"]').attr("content"),uploader=new plupload.Uploader({runtimes:"html5,flash,silverlight,html4",browse_button:"pickfiles",container:document.getElementById("container"),url:"/photos",multipart:!0,multipart_params:{"#{request_forgery_protection_token}":"#{form_authenticity_token}","#{Rails.application.config.session_options[:key]}":"#{request.session_options[:id]}",hotel_id:"#{@hotel.id}"},filters:{max_file_size:"10mb",mime_types:[{title:"Image files",extensions:"jpg,gif,png"},
  {title:"Zip files",extensions:"zip"}]},resize:{width:900,height:600},flash_swf_url:"http://rawgithub.com/moxiecode/moxie/master/bin/flash/Moxie.cdn.swf",silverlight_xap_url:"http://rawgithub.com/moxiecode/moxie/master/bin/silverlight/Moxie.cdn.xap",init:{PostInit:function(){document.getElementById("filelist").innerHTML="";document.getElementById("uploadfiles").onclick=function(){uploader.start();return!1}},FilesAdded:function(b,a){plupload.each(a,function(a){document.getElementById("filelist").innerHTML+=
  '<div id="'+a.id+'">'+a.name+" ("+plupload.formatSize(a.size)+") <b></b></div>"})},UploadProgress:function(b,a){document.getElementById(a.id).getElementsByTagName("b")[0].innerHTML="<span>"+a.percent+"%</span>"},Error:function(b,a){document.getElementById("console").innerHTML+="\nError #"+a.code+": "+a.message}}});
  uploader.bind("UploadComplete",function(){uploader.files.length==uploader.total.uploaded+uploader.total.failed&&($.ajax({url:"",context:document.body,success:function(b,a){$(this).html(b)}}),$("#console").html("\u0424\u0430\u0439\u043b\u044b \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0437\u0430\u0433\u0440\u0443\u0436\u0435\u043d\u044b"))});
  uploader.bind("FilesAdded",function(b,a){if(10<b.files.length||10<uploader.files.length||10<a.length)return $("#console").html("\u041c\u043e\u0436\u043d\u043e \u0437\u0430\u0433\u0440\u0443\u0436\u0430\u0442\u044c \u043d\u0435 \u0431\u043e\u043b\u0435\u0435 10 \u0444\u0430\u0439\u043b\u043e\u0432 \u0437\u0430 \u043e\u0434\u0438\u043d \u0440\u0430\u0437"),!1});uploader.init();