<h1>Управление отелями</h1>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Курорт</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= link_to hotel.name, hotel %></td>
        <td><%= hotel.resort_id %></td>
        <td><%= link_to 'Правка', edit_manage_manage_hotel_path(hotel) %></td>
        <td><%= link_to 'Загрузка изображений', manage_manage_hotels_upload_path(hotel) %></td>
        <td><%= link_to 'Номера', manage_manage_hotels_rooms_path(hotel) %></td>
        <td><%= link_to 'Удалить', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить отель', new_manage_manage_hotel_path %>
