<h1>Номера</h1>

<h3>Добавить новый</h3>
<%= form_for(@room, html: { multipart: true }) do |f| %>
<% if @room.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

  <ul>
    <% @room.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :image %><br>
    <%= file_field_tag('room_room_photos_image', multiple: true, name: "room[room_photos_attributes][][image]") %>
  </div>
</div>

<%= f.hidden_field :hotel_id, :value => @hotel.id %>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>

<h3>Список номеров</h3>

<% @rooms.each do |room| %>

<div class="panel panel-default">
  <div class="panel-heading"><%= room.name %></div>
  <div class="panel-body">
    <ul class="list-inline">
    <li><%= link_to 'Правка', edit_room_path(room) %></li>
    <li><%= link_to 'Удалить', room, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <table class="catalog-item-photos">
    <tr>
      <% room.room_photos.each_slice(2) do |slice| %>
      <td>  
        <% slice.each do |photo| %>
        <%= link_to photo.image.url(:original) do %>
        <%= image_tag photo.image.url(:room_thumb), :class => 'img-responsive' %>
        <%= link_to '', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash text-muted' %>
        <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </table>
  <p>
    <%= form_for(room, html: { multipart: true }) do |f| %>
    <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <div class="form-group col-lg-4 col-xs-12">
        <%= f.label :image, "Выберите файлы для загрузки" %><br>
        <%= file_field_tag('room_room_photos_image', multiple: true, name: "room[room_photos_attributes][][image]") %>
      </div></div>
    <%= f.hidden_field :hotel_id, :value => @hotel.id %>

    <div class="actions">
      <%= f.submit "Добавить фото", :class => 'btn btn-default' %>
    </div>
    <% end %>
  </p>
  </div>
</div>

<% end %>


