<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @hotel.short_description %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @hotel.additional %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @hotel.checkin %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @hotel.checkout %>
</p>

<p>
  <strong>Minimal price:</strong>
  <%= @hotel.minimal_price %>
</p>

<p>
  <strong>Price url:</strong>
  <%= @hotel.price_url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>

<p>
  <strong>Resort:</strong>
  <%= @hotel.resort_id %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
