%h1 Загрузка изображений
%p Не более 10 изображений за одну загрузку, размер файла не более 10мб
= form_for @hotel, html: { multipart: true } do |f|
  - if @hotel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @hotel.errors.full_messages.each do |msg|
          %li= msg
  .field
    =# file_field_tag('images[]', type: :file, multiple: true)
    = render 'uploader'
  %br
  - if @hotel.photos.first.present?
    %label Удалить изображения
    %ul.list-inline
      - @hotel.photos.each do |photo|
        %li
          = link_to photo.image.url(:original), :class => 'swipebox' do
            = image_tag photo.image.url(:room_thumb), :class => 'img-responsive'
            = link_to '', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash text-muted'
  .actions
    = f.submit 'Сохранить', :class => 'btn btn-default'
  %br
  = link_to 'Назад', manage_manage_hotels_path