<h1>Опции инфраструктуры</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= link_to 'Показать', service %></td>
        <td><%= link_to 'Правка', edit_manage_manage_service_path(service) %></td>
        <td><%= link_to 'Удалить', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая опция', new_manage_manage_service_path %>
