<%= form_for(@resort) do |f| %>
  <div class="row">
    <% if @resort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resort.errors.count, "error") %> prohibited this resort from being saved:</h2>

      <ul>
        <% @resort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :short_description %><br>
      <%= f.text_area :short_description, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :popular %><br>
      <%= f.check_box :popular, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :image %><br>
      <%= f.file_field :image, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <div class="actions">
        <%= f.submit "Сохранить", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
