<h1>Управление курортами</h1>

<table class="table">
  <thead>
    <tr>
      <th>Курорт</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @resorts.each do |resort| %>
      <tr>
        <td><%= link_to resort.name, resort %></td>
        <td><%= link_to 'Правка', edit_manage_manage_resort_path(resort) %></td>
        <td><%= link_to 'Удалить', resort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить курорт', new_manage_manage_resort_path %>