<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resort.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resort.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @resort.short_description %>
</p>

<p>
  <strong>Popular:</strong>
  <%= @resort.popular %>
</p>

<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
