<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :username %><br>
    <%= f.text_field :username, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :email %><br>
    <%= f.email_field :email, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :role_id %><br>
    <%= f.select(:role_id, Role.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :manager_id %><br>
    <%= f.select(:manager_id, User.all.where(:role_id => 4).collect {|p| [ p.username, p.id ] }, {}, {:class =>"form-control"}) %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :skype %><br>
    <%= f.text_field :skype, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :job %><br>
    <%= f.text_field :job, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <%= f.label :payment %><br>
    <%= f.text_field :payment, :class =>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-4 col-xs-12">
    <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>