<div class="container profile-ui">
	<div class="row">
		<div class="col-lg-12">
			<h1>Личный кабинет</h1><span class="breadcrumbs"><a href="">Главная</a> &rarr; Личный кабинет</span>

			<ul class="nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Профиль</a></li>
			    <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Клиенты</a></li>
			    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Редактировать профиль</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="profile">
					<h3>Мой профиль</h3>
					<table class="manager">
						<td>
							<img src="http://placehold.it/100x150">
						</td>
						<td class="manager-info">
							<p><strong><%= current_user.username %></strong></p>
							<p><strong>Контактный телефон:</strong> <%= current_user.phone %><br><strong>E-mail:</strong> <%= current_user.email %><br><strong>Skype:</strong>  <%= current_user.skype %></p>
						</td>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="clients">
					<h3>Клиенты</h3>
					<table class="table">
							<tr>
								<th>Имя клиента</th>
								<th>Электронная почта</th>
							</tr>
						<% User.all.where(:manager_id => current_user.id).each do |client| %>
							<tr>
								<td><%= link_to client.username, client %></td>
								<td><%= client.email%></td>
							</tr>
						<% end %>
					</table>
				</div>
				
				
				<div role="tabpanel" class="tab-pane" id="edit">
					<h3>Редактировать профиль</h3>
		            <div class="row">
						<%= form_for(@user) do |f| %>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Ф.И.О.</label>
										<%= f.text_field :username, :class => 'form-control', :placeholder => 'Ф.И.О.' %>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Адрес электронной почты</label>
										<%= f.text_field :email, :class => 'form-control', :placeholder => 'Адрес электронной почты' %>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Skype</label>
										<%= f.text_field :skype, :class => 'form-control', :placeholder => 'Skype' %>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Телефон</label>
										<%= f.text_field :phone, :class => 'form-control', :placeholder => 'Телефон' %>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Пароль</label>
										<%= f.password_field :password, :class => 'form-control', :placeholder => 'Пароль' %>
									</div>
								</div>
							</div>

							<div class="form-group col-lg-12 col-xs-12">
	                          <label>Реквизиты</label>
	                          <%= f.text_area :payment, :class => 'form-control', :placeholder => 'Реквизиты' %>
	                        </div>
							<div class="col-lg-12">
	                          <%= f.submit 'Сохранить', :class => 'btn btn-success' %>
	                        </div>
		                <% end %>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>