<div class="container profile-ui">
	<div class="row">
		<div class="col-lg-12">
			<h1>Личный кабинет</h1><span class="breadcrumbs"><a href="">Главная</a> &rarr; Личный кабинет</span>

			<ul class="nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">Новости</a></li>
			    <li role="presentation"><a href="#docs" aria-controls="docs" role="tab" data-toggle="tab">Документы</a></li>
			    <li role="presentation"><a href="#chats" aria-controls="chats" role="tab" data-toggle="tab">Обращения: <%= @messages.count %></a></li>
			    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Бронирования</a></li>
			    <li role="presentation"><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">Оплатить тур</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Профиль</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="news">

					<h3>Новости</h3>
					<p><small class="text-muted"><%= @user.created_at %></small> <strong>Спасибо за регистрацию!</strong>
					<br>Приветствуем вас в личном кабинете</p>
					<% @user.events.each do |event| %>
						<p><small class="text-muted"><%= event.created_at %></small> <strong><%= event.title %></strong>
						<br><%= event.text %></p>
					<% end %>
					<% if @user.manager_id.present? %>
					<h3>Ваш менеджер</h3>
					<table class="manager">
						<td>
							<img src="http://placehold.it/100x150">
						</td>
						<td class="manager-info">
							<p><strong><%= @manager.username %></strong></p>
							<p><strong>Контактный телефон:</strong> <%= @manager.phone %><br><strong>E-mail:</strong> <%= @manager.email %><br><strong>Skype:</strong>  <%= @manager.skype %></p>
							<p><ul class="list-inline"><li><button class="btn btn-warning btn-sm open-claim">Пожаловаться</button></li><li><button class="btn btn-success btn-sm open-message">Задать вопрос</button></li></ul></p>
						</td>
					</table>
					<div class="send-claim" style="display:none">
						<h3>Пожаловаться</h3>
						<div class="row">
							<%= form_for(@message) do |f| %>
		                        <div class="form-group col-lg-4 col-xs-12">
		                          <label>Тип сообщения</label>
		                          <div class="radio">
		                          	<label>
		                          		<%= f.radio_button :claim, "0"  %> Пожаловаться
		                          		
		                          	</label>
		                          </div>
		                          <div class="radio">
		                          	<label>
		                          		<%= f.radio_button :claim, "1"  %> Поблагодарить
		                          	</label>
		                          </div>
		                        </div>
		                       

	

	                        <div class="form-group col-lg-12 col-xs-12">
	                          <label>Ваше сообщение</label>
	                          <%= f.text_area :text, :class => 'form-control' %>
	                        </div>
	                        <%= f.hidden_field :sender_id, :value => @user.id %>
	                        <%= f.hidden_field :reciever_id, :value => @user.manager_id %>
	                        <div class="col-lg-12">
	                          <%= f.submit 'Отправить', :class => 'btn-success btn' %>
	                        </div>

		                    <% end %>
	               		</div>
               		</div>
               		<div class="send-message" style="display:none">
						<h3>Отправить сообщение</h3>
						<div class="row">
							<%= form_for(@message) do |f| %>
		                        <div class="form-group col-lg-4 col-xs-12">
		                          <label>Тип сообщения</label>
		                          <div class="radio">
		                          	<label>
		                          		<%= f.radio_button :deadline, "0"  %> Не срочно
		                          		
		                          	</label>
		                          </div>
		                          <div class="radio">
		                          	<label>
		                          		<%= f.radio_button :deadline, "1"  %> Срочно
		                          	</label>
		                          </div>
		                        </div>
		                       

	

	                        <div class="form-group col-lg-12 col-xs-12">
	                          <label>Ваше сообщение</label>
	                          <%= f.text_area :text, :class => 'form-control' %>
	                        </div>
	                        <%= f.hidden_field :sender_id, :value => @user.id %>
	                        <%= f.hidden_field :reciever_id, :value => @user.manager_id %>
	                        <div class="col-lg-12">
	                          <%= f.submit 'Отправить', :class => 'btn-success btn' %>
	                        </div>

		                    <% end %>
	               		</div>
               		</div>
               		<script type="text/javascript">
               			$(document).ready(function() {
						    $('.open-claim').click(function() {
						            $('.send-claim').slideToggle("fast");
						            $('.send-message').hide();
						    });
						    $('.open-message').click(function() {
						            $('.send-message').slideToggle("fast");
						            $('.send-claim').hide();
						    });
						});
               		</script>
               	<% else %>
               	<p>Вам будет назначен персональный менеджер, пожалуйста подождите</p>
               	<% end %>
				</div>
				<div role="tabpanel" class="tab-pane" id="docs">
					<h3>Документы</h3>
					<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Название</th>
				          <th>Статус</th>
				          <th>Комментарий</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <th scope="row">1</th>
				          <td>Счет</td>
				          <td>Не оплачен</td>
				          <td>Просьба оплатить</td>
				        </tr>
				        <tr>
				          <th scope="row">2</th>
				          <td>Договор</td>
				          <td>Подписан</td>
				          <td></td>
				        </tr>
				        <tr>
				          <th scope="row">3</th>
				          <td>Акт</td>
				          <td>Не подписан</td>
				          <td></td>
				        </tr>
				        <tr>
				          <th scope="row">4</th>
				          <td>Авиабилет</td>
				          <td>Оплачен</td>
				          <td></td>
				        </tr>
				        <tr>
				          <th scope="row">5</th>
				          <td>Трансфер</td>
				          <td>Оплачен</td>
				          <td>Телефон водителя: 8 918 240-33-12</td>
				        </tr>
				      </tbody>
				    </table>
				</div>
				<div role="tabpanel" class="tab-pane" id="chats">
					<h3>Обращения</h3>
					<div class="row">
						<div class="col-lg-12 feedbacks-list">
			              <% @messages.each_with_index do |message, index| %>
			              <p>
			                <strong>
			                <% if message.sender_id != current_user.id %>Менеджер <% end %>
			                <%= User.where(:id => message.sender_id).first.username %>
			                </strong>
			                <div class="alert <%= cycle('alert-success', 'alert-info') %>" role="alert"><%= message.text %></div>
			                <small class="text-muted"><%= message.created_at %></small>
			              </p>
			              <% end %>
			            </div>
		            </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="bookings">
					<h3>Отели</h3>
					<div class="row">
						<form role="form">
	                        <div class="form-group col-lg-4 col-xs-12">
	                          <label>Направление</label>
	                          <select class="form-control destination">
	                          	<option disabled selected> Выберите направление </option>
	                          	<option>Канада</option>
	                          	<option>Австралия</option>
	                          	<option>Черногория</option>
	                          </select>
	                        </div>
	                        <div class="form-group col-lg-4 col-xs-12 booking-hotel" style="display:none">
	                          <label>Отель</label>
	                          <select class="form-control hotel-select">
	                          	<option disabled selected> Выберите отель </option>
	                          	<option>Best Western</option>
	                          	<option>Hayatt</option>
	                          	<option>Four Seasons</option>
	                          </select>
	                        </div>
	                        <div class="form-group col-lg-4 col-xs-12 booking-room" style="display:none">
	                          <label>Категория номера</label>
	                          <select class="form-control room-select">
	                          	<option disabled selected> Выберите категорию </option>
	                          	<option>Стандарт</option>
	                          	<option>Полулюкс</option>
	                          	<option>Люкс</option>
	                          </select>
	                        </div>
	                        

	                        <div class="col-lg-12 booking-room-button" style="display:none">
	                          <button type="button" class="btn btn-success">Показать цены</button>
	                        </div>
	                        <script type="text/javascript">
	                        	$(".destination").change(function() {
									$(".booking-hotel").show();
								});
								$(".hotel-select").change(function() {
									$(".booking-room").show();
								});
								$(".room-select").change(function() {
									$(".booking-room-button").show();
								});
	                        </script>
	                        <div class="col-lg-12">
	                        </div>
	                        <br>

	                        <div class="form-group col-lg-3 col-md-3 col-xs-12">
	                          <label>Взрослых</label><br>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions"> 1
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions"> 2
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions"> 3
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions"> 4
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions"> 5
	                          </label>
	                        </div>
	                        <div class="form-group col-lg-4 col-md-3 col-xs-12">
	                          <label>Детей</label><br>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child0" value="option0"> 0
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child1" value="option1"> 1
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child2" value="option2"> 2
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child3" value="option3"> 3
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child4" value="option4"> 4
	                          </label>
	                          <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="child5" value="option5"> 5
	                          </label>
	                        </div>
	                        <div class="form-group col-lg-6 col-md-6 col-xs-12 child-options">
	                          <label>Возраст детей</label>
	                          <ul class="list-inline">
	                            <li>
	                              <div class="form-group age">
	                                <select class="form-control" id="childAge1" name="">
	                                  <option value="0">0</option>
	                                  <option value="1">1</option>
	                                  <option value="2">2</option>
	                                  <option value="3">3</option>
	                                  <option value="4">4</option>
	                                  <option value="5">5</option>
	                                  <option value="6">6</option>
	                                </select>
	                              </div>
	                            </li>
	                            <li>
	                              <div class="form-group age">
	                                <select class="form-control" id="childAge2" name="">
	                                  <option value="0">0</option>
	                                  <option value="1">1</option>
	                                  <option value="2">2</option>
	                                  <option value="3">3</option>
	                                  <option value="4">4</option>
	                                  <option value="5">5</option>
	                                  <option value="6">6</option>
	                                </select>
	                              </div>
	                            </li>
	                            <li>
	                              <div class="form-group age">
	                                <select class="form-control" id="childAge3" name="">
	                                  <option value="0">0</option>
	                                  <option value="1">1</option>
	                                  <option value="2">2</option>
	                                  <option value="3">3</option>
	                                  <option value="4">4</option>
	                                  <option value="5">5</option>
	                                  <option value="6">6</option>
	                                </select>
	                              </div>
	                            </li>
	                            <li>
	                              <div class="form-group age">
	                                <select class="form-control" id="childAge4" name="">
	                                  <option value="0">0</option>
	                                  <option value="1">1</option>
	                                  <option value="2">2</option>
	                                  <option value="3">3</option>
	                                  <option value="4">4</option>
	                                  <option value="5">5</option>
	                                  <option value="6">6</option>
	                                </select>
	                              </div>
	                            </li>
	                            <li>
	                              <div class="form-group age">
	                                <select class="form-control" id="childAge5" name="">
	                                  <option value="0">0</option>
	                                  <option value="1">1</option>
	                                  <option value="2">2</option>
	                                  <option value="3">3</option>
	                                  <option value="4">4</option>
	                                  <option value="5">5</option>
	                                  <option value="6">6</option>
	                                </select>
	                              </div>
	                            </li>
	                          </ul>
	                        </div>

	                        <div class="col-lg-12">
	                        </div>
	                        
	                        <div class="input-daterange" id="datepicker">
	                          <div class="form-group col-lg-2 col-xs-8">
	                            <label>Дата заезда</label>
	                            <input type="text" class="form-control" placeholder="Дата заезда" id="start">
	                          </div>
	                          <div class="form-group col-lg-2 col-xs-8">
	                            <label>Дата выезда</label>
	                            <input type="text" class="form-control" placeholder="Дата выезда"  id="end">
	                          </div>
	                        </div>

	                        <div class="form-group col-lg-12 col-xs-12">
	                          <label>Комментарий</label>
	                          <textarea class="form-control" rows="3"></textarea>
	                        </div>
                      		<div class="col-lg-12">
	                          <button type="button" class="btn btn-success">Забронировать</button>
	                        </div>
	                    </form>
               		</div>
               		<h3>Трансфер</h3>
               		<div class="row">
						<form role="form">
							<div class="input-daterange" id="datepicker">
								<div class="form-group col-lg-2 col-xs-8">
									<label>Когда</label>
									<input type="text" class="form-control" placeholder="Дата" id="start">
								</div>

							</div>
							<div class="form-group col-lg-2 col-xs-8">
								<label>Время</label>
								<input type="text" class="form-control" placeholder="Время">
							</div>
							<div class="form-group col-lg-8 col-xs-8">
								<label>Откуда</label>
								<input type="text" class="form-control" placeholder="Откуда">
							</div>
							<div class="col-lg-12">
	                          <button type="button" class="btn btn-success">Забронировать</button>
	                        </div>
						</form>
					</div>
					<h3>Авиабилеты</h3>
					<p>В разработке</p>
					<h3>Ж/д билеты</h3>
					<p>В разработке</p>
					</div>
				
				<div role="tabpanel" class="tab-pane" id="payments">
					<h3>Оплатить тур</h3>
					<div class="row">
						<form role="form">
							<div class="form-group col-lg-4 col-xs-12">
		                      <label>Выберите способ оплаты</label>
		                      <select class="form-control payment-type">
		                      	<option>В офисе</option>
		                      	<option>В банке</option>
		                      	<option>Онлайн</option>
		                      </select>
		                    </div>
		                </form>
		            </div>
		            <div class="payment-office">
		            	<h3>Оплата в офисе</h3>
		            	<p>Адрес офиса</p>
		            </div>
		            <div class="payment-bank" style="display:none">
		            	<h3>Оплата в банке</h3>
		            	<p>Информация по оплате в банке</p>
		            </div>
		            <div class="payment-online" style="display:none">
		            	<h3>Оплата онлайн</h3>
		            	<div class="row">
						<form role="form">
							<div class="form-group col-lg-4 col-xs-12">
		                      <label>Выберите платежную систему</label>
		                      <select class="form-control">
		                      	<option>VISA</option>
		                      	<option>MasterCard</option>
		                      </select>
		                    </div>
		                    <div class="form-group col-lg-4 col-xs-12">
								<label>Номер счета</label>
								<input type="text" class="form-control" placeholder="Номер счета">
							</div>
							<div class="form-group col-lg-4 col-xs-12">
								<label>Сумма к оплате</label>
								<input type="text" class="form-control" placeholder="Сумма в рублях">
							</div>
							<div class="col-lg-12">
	                          <button type="button" class="btn btn-success">Оплатить</button>
	                        </div>
		                </form>
		            </div>
		            </div>
					<script type="text/javascript">

						  $(".payment-type").change(function() {
						  	var index = $(".payment-type").find(":selected").index();
						  	console.log(index);
						    if (index == 0) {
								$(".payment-office").show();
								$(".payment-bank").hide();
								$(".payment-online").hide();
							}
							if (index == 1) {
								$(".payment-office").hide();
								$(".payment-bank").show();
								$(".payment-online").hide();
							}
							if (index == 2) {
								$(".payment-office").hide();
								$(".payment-bank").hide();
								$(".payment-online").show();
							}
						  });

					</script>
				</div>

				<div role="tabpanel" class="tab-pane" id="profile">
					<h3>Редактировать профиль</h3>
		            <div class="row">
						<%= form_for(@user) do |f| %>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Ф.И.О.</label>
										<%= f.text_field :username, :class => 'form-control', :placeholder => 'Ф.И.О.' %>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="form-group col-lg-4 col-xs-12">
									<label>Пароль</label>
										<%= f.password_field :password, :class => 'form-control', :placeholder => 'Пароль' %>
									</div>
								</div>
							</div>

							<div class="form-group col-lg-12 col-xs-12">
	                          <label>Реквизиты</label>
	                          <%= f.text_area :payment, :class => 'form-control', :placeholder => 'Реквизиты' %>
	                        </div>
							<div class="col-lg-12">
	                          <%= f.submit 'Сохранить', :class => 'btn btn-success' %>
	                        </div>
		                <% end %>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>