<div class="container profile-ui">
	<div class="row">
		<div class="col-lg-12">
			<h1><%= @user.username || @user.email %></h1><span class="breadcrumbs"><%= link_to 'Главная', root_path %> &rarr; <%= @user.username || @user.email %></span>

			<ul class="nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Новости</a></li>
			    <li role="presentation"><a href="#docs" aria-controls="docs" role="tab" data-toggle="tab">Документы</a></li>
			    <li role="presentation"><a href="#chats" aria-controls="chats" role="tab" data-toggle="tab">Обращения:</a></li>
			    <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">Бронирования</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="profile">
					<h3><%= @user.username %></h3>
					<p><strong>E-mail:</strong> <%= @user.email %><br><strong>Реквизиты:</strong>  <%= @user.payment %></p>
					<h3>Отправить новость пользователю</h3>
					<div class="row">
						<%= form_for(@event) do |f| %>
							<div class="form-group col-lg-12 col-xs-12">
	                          <label>Заголовок новости</label>
	                          <%= f.text_field :title, :class => 'form-control' %>
	                        </div>
	                        <div class="form-group col-lg-12 col-xs-12">
	                          <label>Текст новости</label>
	                          <%= f.text_area :text, :class => 'form-control' %>
	                        </div>
	                        <%= f.hidden_field :user_id, :value => @user.id %>
	                        <div class="col-lg-12">
	                          <%= f.submit 'Отправить', :class => 'btn-success btn' %>
	                        </div>
	                    <% end %>
               		</div>
               		<h3>Новости пользователя</h3>
               		<% @user.events.each do |event| %>
						<p><small class="text-muted"><%= event.created_at %></small> <strong><%= event.title %></strong>
						<br><%= event.text %></p>
					<% end %>
				</div>
				<div role="tabpanel" class="tab-pane" id="docs">
					Управление документами
				</div>
				<div role="tabpanel" class="tab-pane" id="chats">

					<h3>Отправить сообщение пользователю</h3>
					<div class="row">
						<%= form_for(@message) do |f| %>
	                        <div class="form-group col-lg-12 col-xs-12">
	                          <label>Ваше сообщение</label>
	                          <%= f.text_area :text, :class => 'form-control' %>
	                        </div>
	                        <%= f.hidden_field :sender_id, :value => current_user.id %>
	                        <%= f.hidden_field :reciever_id, :value => @user.id %>
	                        <div class="col-lg-12">
	                          <%= f.submit 'Отправить', :class => 'btn-success btn' %>
	                        </div>
	                    <% end %>
               		</div>
               		<div class="row">
	               		<div class="col-lg-12 feedbacks-list">
			              <% @messages.each_with_index do |message, index| %>
			              <p>
			                <strong><%= User.where(:id => message.sender_id).first.username %></strong>
			                <div class="alert <%= cycle('alert-success', 'alert-info') %>" role="alert"><%= message.text %></div>
			                <small class="text-muted"><%= message.created_at %></small>
			              </p>
			              <% end %>
			            </div>
		            </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="news">
				</div>
				<div role="tabpanel" class="tab-pane" id="bookings">
				</div>
			</div>
		</div>
	</div>
</div>