.container
  #owl-demo.owl-carousel.owl-theme
    - Hotel.where(:banner => '1').each do |hotel|
      .item
        .slider-block{:style => "#{cycle('background:url(/assets/bg-green.png);', 'background:url(/assets/bg-blue.png);', 'background:url(/assets/bg-pink.png);','background:url(/assets/bg-orange.png);')}"}
          = image_tag hotel.image.url(:slider)
          .slider-description
            %h3 #{link_to hotel.name, hotel}
            %ul.list-inline.star
              %li
                %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
              %li
                %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
              %li
                %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
              %li
                %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
              %li
                %a{:href => ""} #{link_to hotel.resort.try(:name), hotel.resort}
            %p #{truncate(hotel.short_description, :length => 55)}
    
  .customNavigation
    %a.btn.prev ←
    %a.btn.next →
  :javascript
    $(document).ready(function() {
     
      var owl = $("#owl-demo");
     
      owl.owlCarousel({
          items : 4, //10 items above 1000px browser width
          itemsDesktop : [1000,4], //5 items between 1000px and 901px
          itemsDesktopSmall : [900,3], // betweem 900px and 601px
          itemsTablet: [600,2], //2 items between 600 and 0
          itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
      });
     
      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second parameter
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })
     
    });
.strip
.container.popular-resorts
  %h2 Популярные курорты
  %p Более 30 курортов по всей территории России на любой вкус
  .row
    - @resorts.where(:popular => '1').limit(6).each do |resort|
      .col-lg-2.col-md-2.col-sm-2.col-xs-4.popular-resorts-item
        = image_tag resort.image.url(:square)
        %p
          = link_to resort.name, resort
  = button_to 'Показать все', resorts_path, :class => 'btn btn-success btn-lg show-all', method: :get
.container.color-grid
  .row
    .col-lg-4.red.color-grid-column
      .color-grid-item
        %h3 Хиты продаж
        %ul.list-inline.color-grid-item-section
          - Hotel.where(Hotel.arel_table[:special].eq(true)).limit(5).each do |hotel|
            %li
              = image_tag hotel.image.url(:thumbnail), :class => 'img-thumbnail'
            %li
              %h4
                = link_to hotel.name, hotel
              %ul.list-inline.color-grid-stars
                %li
                  %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
                %li
                  %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
                %li
                  %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
                %li
                  %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
                %li
                  %span
                    = link_to hotel.resort.try(:name), hotel.resort
            .color-grid-excerpt
              = hotel.short_description
    .col-lg-4.orange.color-grid-column
      .color-grid-item
        %h3 Акции
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          %ul.list-inline.color-grid-stars
            %li
              %span.offer-datetime 12.12.2014 - 31.12.2014
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          %ul.list-inline.color-grid-stars
            %li
              %span.offer-datetime 12.12.2014 - 31.12.2014
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          %ul.list-inline.color-grid-stars
            %li
              %span.offer-datetime 12.12.2014 - 31.12.2014
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          %ul.list-inline.color-grid-stars
            %li
              %span.offer-datetime 12.12.2014 - 31.12.2014
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          %ul.list-inline.color-grid-stars
            %li
              %span.offer-datetime 12.12.2014 - 31.12.2014
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
    .col-lg-4.green.color-grid-column
      .color-grid-item
        %h3 Новости
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
        .color-grid-offer
          %h4
            %a{:href => ""} Text
          .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
          .color-grid-excerpt
            %a{:href => ""} Узнать больше →
    .col-lg-12.blue
      .color-grid-item
        %h3 Горящие туры
        .row
          .col-lg-3
            .color-grid-offer
              %h4
                %a{:href => ""} Text
              %ul.list-inline.color-grid-stars
                %li
                  %span.offer-datetime от 20 000 рублей / 7 дней
              .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
              .color-grid-excerpt
                %a{:href => ""} Узнать больше →
          .col-lg-3
            .color-grid-offer
              %h4
                %a{:href => ""} Text
              %ul.list-inline.color-grid-stars
                %li
                  %span.offer-datetime от 20 000 рублей / 7 дней
              .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
              .color-grid-excerpt
                %a{:href => ""} Узнать больше →
          .col-lg-3
            .color-grid-offer
              %h4
                %a{:href => ""} Text
              %ul.list-inline.color-grid-stars
                %li
                  %span.offer-datetime от 20 000 рублей / 7 дней
              .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
              .color-grid-excerpt
                %a{:href => ""} Узнать больше →
          .col-lg-3
            .color-grid-offer
              %h4
                %a{:href => ""} Text
              %ul.list-inline.color-grid-stars
                %li
                  %span.offer-datetime от 20 000 рублей / 7 дней
              .color-grid-excerpt Пятизвездочный отель Hyatt Regency Sochi в центре Сочи
              .color-grid-excerpt
                %a{:href => ""} Узнать больше →
:javascript
  $(document).ready(function() {
  	$('.color-grid-column').height(Math.abs($('.color-grid-column').offset().top - $('.blue').offset().top));
  });