.container
  %h3 Оплатить тур
  .row
    %form{:role => "form"}
      .form-group.col-lg-4.col-xs-12
        %label Выберите способ оплаты
        %select.form-control.payment-type
          %option В офисе
          %option В банке
          %option Онлайн
  .payment-office
    %h3 Оплата в офисе
    %p Адрес офиса
  .payment-bank{:style => "display:none"}
    %h3 Оплата в банке
    %p Информация по оплате в банке
  .payment-online{:style => "display:none"}
    %h3 Оплата онлайн
    .row
      %form{:role => "form"}
        .form-group.col-lg-4.col-xs-12
          %label Выберите платежную систему
          %select.form-control
            %option VISA
            %option MasterCard
        .form-group.col-lg-4.col-xs-12
          %label Номер счета
          %input.form-control{:placeholder => "Номер счета", :type => "text"}/
        .form-group.col-lg-4.col-xs-12
          %label Сумма к оплате
          %input.form-control{:placeholder => "Сумма в рублях", :type => "text"}/
        .col-lg-12
          %button.btn.btn-success{:type => "button"} Оплатить
:javascript
  $(".payment-type").change(function() {
    var index = $(".payment-type").find(":selected").index();
    console.log(index);
    if (index == 0) {
    $(".payment-office").show();
    $(".payment-bank").hide();
    $(".payment-online").hide();
  }
  if (index == 1) {
    $(".payment-office").hide();
    $(".payment-bank").show();
    $(".payment-online").hide();
  }
  if (index == 2) {
    $(".payment-office").hide();
    $(".payment-bank").hide();
    $(".payment-online").show();
  }
  });