<div class="container about-ui">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= @page.name %></h1><span class="breadcrumbs"><a href=""><%= link_to 'Главная', root_path %></a> &rarr; <%= @page.name %></span>
      <p><%= @page.content %></p>
    </div>
  </div>
</div>

<div class="strip"></div>
