<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Войти</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label 'Запомнить меня' %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Войти", :class => 'btn btn-default' %>
      </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>