<h1>Пользователи</h1>




<table class="table">
  <tr> 
    <th>Электронная почта</th>
    <th>Имя</th>
    <th>Доступ</th>
    <th>Менеджер</th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.username %></td>
    <td><%= user.role.try(:name) %></td>
    <td><%= User.where(:id => user.manager_id).first.try(:username) %></td>
    <td><%= link_to 'Правка', edit_user_path(user) %></td>
    <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>






