<%= form_for(@about_page) do |f| %>
  <% if @about_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_page.errors.count, "error") %> prohibited this about_page from being saved:</h2>

      <ul>
      <% @about_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
