<div class="container about-ui">
  <div class="row">
    <div class="col-lg-12">
      <h1>О компании</h1><span class="breadcrumbs"><a href="">Главная</a> &rarr; О компании</span>
      <p>Более 30 курортов по всей территории России</p>
    </div>
    <div class="col-lg-12">
      <ul class="nav nav-pills" role="tablist">
          <% @about_pages.each_with_index do |about_page,index| %>
          <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#<%= about_page.slug %>" aria-controls="<%= about_page.slug %>" role="tab" data-toggle="tab"><%= about_page.name %></a></li>
          <% end %>
      </ul>
    </div>
    <div class="tab-content">
      <% @about_pages.each_with_index do |about_page,index| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="<%= about_page.slug %>">
          
            <div class="col-lg-12">
              <h2><%= about_page.name %></h2>
              <p><%= about_page.content %></p>
            </div>
          
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="strip"></div>
