<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @about_page.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @about_page.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @about_page.content %>
</p>

<%= link_to 'Edit', edit_about_page_path(@about_page) %> |
<%= link_to 'Back', about_pages_path %>
