.admin-bar
  line-height: 30px
  background: black
  color: white
  padding: 0px 10px

.admin-bar a, .admin-bar a:hover, .admin-bar a:visited
  color: white

.container
  max-width: 1024px

.header
  margin-top: 20px
  margin-bottom: 25px

.header-logo, .header-buttons, .header-phone
  margin-top: 20px

.header-buttons .btn-info
  background: #00d1c2
  border: none

.header-buttons .btn-success
  background: #8ce071
  border: none

.header-region
  font-size: 12px
  font-weight: 600

.header-phone-number
  font-size: 24px

.header-phone-number p
  color: #999999
  font-size: 14px

h1
  font-size: 30px
  margin-top: 0px
  color: #565a5c
  display: inline-block
  padding-right: 20px

h2
  color: #565a5c

span.breadcrumbs
  font-size: 14px

.breadcrumbs a
  text-decoration: underline

.breadcrumbs a:hover
  text-decoration: none

.main-menu .navbar
  background: #7fcdee
  border: none
  border-radius: 0px

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:active
  color: #ffffff

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
  color: #ffffff

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
  background: #29abe2

@media (max-width: 767px)
  ul.nav li
    float: left
    font-size: 14px

#owl-demo .item
  background: #fff
  padding: 0px
  margin: 10px
  color: #FFF
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-align: center

.customNavigation
  text-align: center
  padding-bottom: 10px

//use styles below to disable ugly selection
.customNavigation a
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.slider-block
  width: 240px
  height: 320px
  background: silver
  margin: 0 auto

.slider-description
  width: 240px
  height: 160px
  padding: 20px
  text-align: left

.slider-description h3
  font-size: 20px
  margin-top: 0px

.slider-description a
  color: white

.slider-description .star
  font-size: 12px

.slider-description li
  margin-right: -10px

@media (max-width: 992px)
  .slider-description
    width: 180px
  .slider-description p
    font-size: 12px

.strip
  background: url(/assets/strip.png)
  width: 100%
  height: 10px

.popular-resorts h2
  text-transform: none
  font-weight: bold

.popular-resorts
  text-align: center

.popular-resorts p
  margin-bottom: 15px

.popular-resorts .popular-resorts-item, .popular-resorts .popular-resorts-item a
  color: black
  text-decoration: underline
  font-size: 12px

.popular-resorts .popular-resorts-item p
  margin-top: 5px !important

.popular-resorts .popular-resorts-item, .popular-resorts .popular-resorts-item a:hover
  text-decoration: none

.show-all
  background: #8ce071
  border: none

.show-all:hover
  background: #8cbb71

.color-grid, .color-grid a, .color-grid a:hover
  color: white
  margin-top: 35px

.color-grid .red
  background: #be7dbc

.color-grid .orange
  background: #e3b23b

.color-grid .green
  background: #a3d165

.color-grid .blue
  background: #72bfed

.color-grid-item
  padding: 10px
  vertical-align: top

.color-grid-item h3
  font-size: 20px
  margin-bottom: 25px

.color-grid-item .glyphicon
  font-size: 10px

.color-grid-item h4
  margin-top: 0px
  font-weight: 300

.color-grid-item a
  text-decoration: underline

.color-grid-item a:hover
  text-decoration: none

.color-grid-item li
  vertical-align: top

.color-grid-item-section
  margin-bottom: 30px

.color-grid-excerpt
  max-width: 180px
  margin-top: 10px
  font-size: 12px

.color-grid-stars
  margin-top: -10px

.color-grid-stars a
  text-decoration: underline

.color-grid-stars a:hover
  text-decoration: none

.color-grid-stars li
  margin-right: -10px

.color-grid-offer
  margin-top: -5px
  margin-bottom: 25px

.offer-datetime
  font-size: 12px

/* resorts
.resorts-grid
  margin-top: 20px
  text-align: center

.resorts-grid p
  margin-top: -30px
  position: inherit
  line-height: 30px

.resorts-grid a
  color: white
  text-decoration: underline

.resorts-grid a:hover
  color: white
  text-decoration: none

.resorts-grid img
  z-index: 8888

.resorts-grid p.orange
  background: #e3b23b
  z-index: 9999

.resorts-grid p.blue
  background: #7fcdee

.resorts-grid p.green
  background: #a3d165

.resorts-grid p.red
  background: #be7dbc

.popular-resorts-item
  margin-bottom: 20px

/* end resorts

/* resort

.resort-jumbo
  width: 100%
  margin-top: -20px
  margin-bottom: 20px

.resort-header
  margin-bottom: 10px

.triangle
  font-size: 10px
  color: #337ab7

.filter-link a
  text-decoration: none
  border-bottom: 1px dotted #337ab7

.resort-filter
  margin-top: 15px

@media (max-width: 1200px)
  .resort-filter
    float: left !important

.objects-grid
  width: 100%
  height: 100%
  background: #f2f2f2
  padding-bottom: 30px

.objects-grid-item
  background: white
  border: 1px solid #e6e6e6
  border-radius: 5px
  padding: 10px
  margin-top: 30px

.objects-grid-item img
  width: 100%

.objects-grid-item .objects-grid-item-excerpt
  background-color: white
  opacity: 0.5
  margin-top: -25px
  line-height: 25px

.objects-grid-item-excerpt li:first-child
  padding-left: 15px

.objects-grid-item-excerpt .glyphicon
  color: red
  font-size: 10px
  margin-right: -15px

.objects-grid-item-excerpt a, .objects-grid-item-excerpt a:visited
  text-decoration: underline
  font-size: 12px
  color: #0046bc

.objects-grid-item-excerpt a:hover
  text-decoration: none

.objects-grid h3, .objects-grid h3 a, .objects-grid h3 a:visited, .objects-grid h3 a:hover
  color: #29abe2
  font-size: 16px
  margin-top: 0px

.objects-grid h3 a
  text-decoration: underline

.objects-grid h3 a:hover
  text-decoration: none

.objects-grid-item-price
  font-weight: bold
  margin-top: 12px
  vertical-align: sub

.look-btn
  text-align: right

.resort-more
  text-align: center

.resort-more .btn
  margin-top: 25px

/* end resort

/* hotel
.geo-link
  text-decoration: none
  color: #0071bc
  border-bottom: 1px dotted #0071bc

.geo-link:hover, .geo-link:visited
  text-decoration: none
  border: none
  color: #0071bc

.hotel-subheader
  font-weight: 300

.hotel-features a
  text-decoration: underline

.hotel-features a:hover
  text-decoration: none

.hotel-features-price
  font-size: 18px
  font-weight: bold

.glyphicon-blue
  color: #29abe2

.rate-preview
  color: #39b54a

.tabpanel
  margin-top: -20px

.object h2
  text-transform: none
  font-weight: bold !important
  font-size: 22px
  margin-top: 25px

.additional h2, h2.infrastructure
  margin-top: 10px

.catalog-item-photos img
  border: 4px solid white

.catalog-item-photos td
  vertical-align: top

.catalog-item-photos
  margin-left: -4px

.room h3
  margin-top: 25px

.route-description p
  margin-bottom: -10px

.feedbacks-list
  margin-top: 30px

.feedbacks-list .alert
  margin-bottom: 0px

.feedbacks-rating
  color: #f2ae43
  font-size: 12px

.gallery
  margin-top: 20px

#gallery img
  margin-bottom: 30px
  width: 100%

#gallery ul
  margin-left: -5px

/* end hotel

/* about
.nav-pills>li>a
  padding: 2px 8px

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  background: #54bce8

.about-ui
  margin-bottom: 30px

.about-ui h2
  text-transform: none
  font-weight: bold !important
  font-size: 22px
  margin-top: 25px

.coworker
  border: 4px solid #d4eef9
  padding: 20px

.coworker .coworker-about
  padding-left: 20px

.coworker td
  vertical-align: top

.coworker h3
  font-weight: 300
  font-size: 20px
  margin-top: -4px

.coworker-cities a.coworker-cities-active, .coworker-cities a.coworker-cities-active:hover
  font-weight: bold
  text-decoration: none
  color: black

.coworker-cities a.coworker-cities-link
  text-decoration: none
  border-bottom: 1px dotted

.coworker-cities a.coworker-cities-link:hover
  text-decoration: none
  color: black
  border: 0px

.offices h3
  font-size: 18px
  margin-top: 4px

.rewards
  text-align: center
  margin-top: 20px

.rewards p
  max-width: 160px
  margin: 8px auto

@media (min-width: 1200px)
  .rewards-block
    margin-left: -20px

.gallery-selector a.gallery-selector-active, .gallery-selector a.gallery-selector-active:hover
  font-weight: bold
  text-decoration: none
  color: black

.gallery-selector a.gallery-selector-link
  text-decoration: none
  border-bottom: 1px dotted

.gallery-selector a.gallery-selector-link:hover
  text-decoration: none
  color: black
  border: 0px

#photogallery h3
  font-size: 18px
  margin-top: 4px

.gallery p
  color: gray
  margin-top: 2px

.feedbacks-list .answer
  margin-left: 20px

.green
  color: #39b54a

/* end about

/* profile

.profile-ui
  margin-bottom: 30px

.profile-ui h3
  font-weight: 300
  font-size: 20px

.manager td
  vertical-align: top

td.manager-info
  padding-left: 20px

.booking-room-button
  margin-bottom: 20px

/* end profile

.footer
  padding-left: 0px !important
  padding-right: 0px !important

.footer
  border-top: 1px solid #cccccc
  margin-top: 30px

.footer-content
  margin-top: 25px

.footer-logo, .footer-copyright, .footer-social, .footer-counters
  display: inline-block
  margin-bottom: 25px

.footer-copyright, .footer-social, .footer-counters
  padding-left: 20px

.footer-social, .footer-counters
  float: right

@media (max-width: 991px)
  .footer-social, .footer-counters
    display: none
  .footer-logo, .footer-copyright
    float: left

@media (min-width: 993px)
  .b-share_theme_counter
    margin-top: 12px

@media (max-width: 799px)
  .footer-logo, .footer-copyright
    padding-left: 20px

.catalog

.catalog h1, h2
  font-weight: 300
  text-transform: uppercase
  margin-top: 30px

.catalog-item
  border-bottom: 10px solid #f2f2f2

.catalog-item-header a, .catalog-item-header a:hover, .catalog-item-header a:visited
  color: #29abe2

.catalog-item .btn
  margin-top: 30px
  float: right

.catalog-item hr
  margin-top: 5px

.catalog-item strong
  color: black

.catalog-item p
  font-weight: 300
  margin-bottom: 20px

.catalog-description a
  color: #29abe2

.catalog-subtitle a, .catalog-subtitle a:hover, .catalog-subtitle a:visited
  color: #29abe2

.catalog-subtitle
  color: #999999
  font-weight: 300

@media (max-width: 992px)
  .catalog-item .btn
    margin-top: 0px
    float: left
  .catalog-item hr
    margin-top: 20px

@media (max-width: 480px)

/* catalog page

.filter
  border-bottom: 10px solid #f2f2f2
  font-weight: 300
  padding-bottom: 15px

.filter h1
  font-weight: 300

.filter a, .filter a:hover, .filter a:visited
  color: #29abe2
  text-decoration: none

.filter a
  border-bottom: 1px dashed #29abe2
  margin-right: 20px

/* object

.address
  color: #999999
  margin-bottom: 20px
  font-weight: 300

.object-buttons .btn
  margin-left: 10px

@media (max-width: 992px)
  .object-buttons .btn
    margin-top: -10px
    margin-bottom: 10px
  .object-buttons .btn:last-child
    margin-left: 10px
  .object-buttons .btn:first-child
    margin-left: 0px

/* object tabs

ul.nav.nav-tabs
  margin-top: 30px !important

.object h2
  font-weight: 400

ul.infrastructure
  padding-left: 15px
  font-weight: 300

.additional
  border: 4px solid #e2e2e2
  padding: 5px 30px
  margin: 30px 0px

.nav-tabs>li>a
  border-radius: 0px
  color: black

/* rooms

.room
  border-bottom: 1px solid silver
  padding-bottom: 25px

.room-image, .room h3
  margin-top: 40px

.room:last-child
  border: none

.room-thumbs li
  margin-bottom: 8px

/* map

.object-map
  margin-top: 30px

.object-map img
  padding: 8px
  background: #f2f2f2
  border: 1px solid #e6e6e6

#route
  margin-bottom: 200px

/* booking

.child-options, #childAge1, #childAge2, #childAge3, #childAge4, #childAge5
  display: none

.age .form-control

#booking label
  font-weight: 300
  color: gray

#booking .btn
  float: left
  margin-top: 0px
  margin-bottom: 30px

/* modal callback

.modal-dialog
  max-width: 320px

.modal-footer
  text-align: center

body.modal-open .content-block
  -webkit-filter: blur(7px)
  -moz-filter: blur(15px)
  -o-filter: blur(15px)
  -ms-filter: blur(15px)
  filter: blur(15px)

.modal-backdrop
  background: #f7f7f7
