<%= form_for(@hotel) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :additional %><br>
    <%= f.text_area :additional %>
  </div>
  <div class="field">
    <label><%= f.label "Инфраструктура отеля:" %></label><br>
    <%= hidden_field_tag "hotel[service_ids][]", nil %>
    <% Service.all.each do |service| %>
    <ul class="list-inline">
      <li><label><%= check_box_tag "hotel[service_ids][]", service.id, @hotel.service_ids.include?(service.id) %>
        <%= service.name %></label></li>
      </ul>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :checkin %><br>
    <%= f.text_field :checkin %>
  </div>
  <div class="field">
    <%= f.label :checkout %><br>
    <%= f.text_field :checkout %>
  </div>
  <div class="field">
    <%= f.label :minimal_price %><br>
    <%= f.number_field :minimal_price %>
  </div>
  <div class="field">
    <%= f.label :price_url %><br>
    <%= f.text_field :price_url %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :resort_id %><br>
    <%= f.number_field :resort_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
