<h1>Listing hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Short description</th>
      <th>Additional</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Minimal price</th>
      <th>Price url</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Resort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.description %></td>
        <td><%= hotel.short_description %></td>
        <td><%= hotel.additional %></td>
        <td><%= hotel.checkin %></td>
        <td><%= hotel.checkout %></td>
        <td><%= hotel.minimal_price %></td>
        <td><%= hotel.price_url %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.phone %></td>
        <td><%= hotel.resort_id %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
