<div class="container">
   <h1><%= @hotel.name %></h1><span class="breadcrumbs"><%= link_to 'Главная', root_path %> &rarr; <%= link_to 'Курорты', resorts_path %> &rarr; <%= link_to @hotel.resort.try(:name), @hotel.resort %> &rarr; <%= @hotel.name %></span>
   <p class="hotel-subheader"><a href="" class="geo-link"><%= @hotel.address %>,</a> <%= @hotel.phone %></p>
   <ul class="list-inline hotel-features">
    <li>
     <span class="glyphicon glyphicon-thumbs-up glyphicon-blue" aria-hidden="true"></span> ОТЛИЧНО <span class="rate-preview">9.8</span>
     <p><a href="">Отзывы и рейтинг</a></p>

   </li>
   <li>от <span class="hotel-features-price"><%= @hotel.minimal_price %>P</span> за номер</li>
   <li><button type="button" class="btn btn-info">Показать цены</button></li>
   <li><button type="button" class="btn btn-success">Забронировать</button></li>
 </ul>

 <div role="tabpanel" class="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
    <li role="presentation"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">Номера</a></li>
    <li role="presentation"><a href="#route" aria-controls="route" role="tab" data-toggle="tab">Как добраться?</a></li>
    <li role="presentation"><a href="#feedbacks" aria-controls="feedbacks" role="tab" data-toggle="tab">Отзывы</a></li>
    <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Галерея</a></li>
    <li role="presentation" class="hidden-xs"><a href="#booking" aria-controls="booking" role="tab" data-toggle="tab">Забронировать</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content object">
    <div role="tabpanel" class="tab-pane active" id="description">
      <h2><%= @hotel.name %></h2>
      <p class="catalog-description"><%= @hotel.description %></p>
      
      <table class="catalog-item-photos">
        <tr>
          <td>
            <%= link_to @hotel.image.url(:original) do %>
              <%= image_tag @hotel.image.url(:square) %>
            <% end %>
          </td>
          <% @hotel.photos.limit(9).each_slice(2) do |slice| %>
          <td>  
              <% slice.each do |photo| %>
                <%= link_to photo.image.url(:original) do %>
                  <%= image_tag photo.image.url(:hotel), :class => 'img-responsive' %>
                <% end %>
              <% end %>
          </td>
          <% end %>
        </tr>
      </table>
      <script type="text/javascript">
        $('.catalog-item-photos').tile(4);
      </script>
      <h2 class="infrastructure">Инфраструктура</h2>
      <ul class="infrastructure">
        <% @hotel.services.each do |service| %>
        <li><%= service.name %></li>
        <% end %>
      </ul>
      <div class="additional">
        <h2>Дополнительно</h2>
        <p class="catalog-description"><%= @hotel.additional %></p>
        <p>Регистрация заезда: <strong>с <%= @hotel.checkin %></strong>
        <br>Регистрация отъезда: <strong>до <%= @hotel.checkout %></strong></p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="rooms">
      <% @hotel.rooms.each do |room| %>
        <div class="room">

          <h3>Стандартный номер с 2 односпальными кроватями</h3>
          <p>Номер с 2 односпальными кроватями</p>

          <table class="catalog-item-photos">
            <tr>
              <% room.room_photos.each_slice(2) do |slice| %>
              <td>  
                  <% slice.each do |photo| %>
                    <%= link_to photo.image.url(:original) do %>
                      <%= image_tag photo.image.url(:room_thumb), :class => 'img-responsive' %>
                    <% end %>
                  <% end %>
              </td>
              <% end %>
            </tr>
          </table>

        </div>
      <% end %>
     </div>
        <div role="tabpanel" class="tab-pane" id="route">
          <div class="row">
            <div class="col-lg-12 route-description">
              <h2>Как добраться?</h2>
              <p><%= @hotel.short_description %></p>
            </div>
            <div class="col-lg-6 object-map">
              <%= link_to image_tag("http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=500x300&markers=color:blue%7Clabel:S%7C#{@hotel.latitude},#{@hotel.longitude}&sensor=false", :class => 'img-responsive'), "https://maps.google.com/maps?hl=en&ll=#{@hotel.latitude},#{@hotel.longitude}" %>
            </div>
            <div class="col-lg-6">
              <h2><%= @hotel.name %></h2>
              <p><%= @hotel.address %></p>
              <p><strong>Контактный телефон:</strong><br><%= @hotel.phone %></p>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="feedbacks">
          <div class="row">
            <div class="col-lg-12">
              <h2>Отзывы</h2>
              <p>Были здесь? Оставьте отзыв и оцените уровень обслуживания.</p>


                    <%= form_for(@review) do |f| %>
                      <div class="row">
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Ваше имя</label>
                          <%= f.text_field :name, :class =>"form-control", :placeholder => "Ваше имя" %>
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Адрес электронной почты</label>
                          <%= f.text_field :email, :class =>"form-control", :placeholder => "Адрес электронной почты" %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Номер телефона (не будет опубликован)</label>
                          <%= f.text_field :phone, :class =>"form-control", :placeholder => "Номер телефона" %>
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Номер счета/тура</label>
                          <%= f.text_field :tour, :class =>"form-control", :placeholder => "Номер счета/тура" %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-12 col-xs-12">
                          <label>Ваш отзыв</label>
                          <%= f.text_area :review, :class =>"form-control", :placeholder => "Ваш отзыв" %>
                          <%= f.hidden_field :hotel_id, :value => @hotel.id %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <%= f.submit "Отправить отзыв", :class => "btn btn-success" %>
                        </div>
                      </div>
                    <% end %>

                  
            </div>
            <div class="col-lg-12 feedbacks-list">
              <% @hotel.reviews.each_with_index do |review, index| %>
              <p>
                <strong><%= review.name %></strong> | оценка: <span class="feedbacks-rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                <div class="alert <%= cycle('alert-success', 'alert-info') %>" role="alert"><%= review.review %></div>
                <small class="text-muted"><%= review.created_at %></small>
              </p>
              <% end %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="gallery">
          <div class="row">
            <div class="col-lg-12">
              <h2>Галерея</h2>
              <div class="row gallery">
                <% @hotel.photos.each do |photo| %>
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <%= link_to photo.image.url(:original) do %>
                      <%= image_tag photo.image.url(:hotel), :class => 'img-responsive' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="booking">
                    <h2>Онлайн бронирование</h2>
                    <form role="form">
                      <div class="row">
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Категория номера</label>
                          <select class="form-control" id="" name="">
                            <option value="1">Стандартный двухместный</option>
                            <option value="2">Полулюкс</option>
                          </select>
                        </div>
                        <div class="input-daterange" id="datepicker">
                          <div class="form-group col-lg-2 col-xs-8">
                            <label>Дата заезда</label>
                            <input type="text" class="form-control" placeholder="Дата заезда" id="start">
                          </div>
                          <div class="form-group col-lg-2 col-xs-8">
                            <label>Дата выезда</label>
                            <input type="text" class="form-control" placeholder="Дата выезда"  id="end">
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="form-group col-lg-3 col-md-3 col-xs-12">
                          <label>Взрослых</label><br>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"> 1
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"> 2
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"> 3
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"> 4
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"> 5
                          </label>
                        </div>
                        <div class="form-group col-lg-4 col-md-3 col-xs-12">
                          <label>Детей</label><br>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child0" value="option0"> 0
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child1" value="option1"> 1
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child2" value="option2"> 2
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child3" value="option3"> 3
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child4" value="option4"> 4
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="child5" value="option5"> 5
                          </label>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12 child-options">
                          <label>Возраст детей</label>
                          <ul class="list-inline">
                            <li>
                              <div class="form-group age">
                                <select class="form-control" id="childAge1" name="">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                              </div>
                            </li>
                            <li>
                              <div class="form-group age">
                                <select class="form-control" id="childAge2" name="">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                              </div>
                            </li>
                            <li>
                              <div class="form-group age">
                                <select class="form-control" id="childAge3" name="">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                              </div>
                            </li>
                            <li>
                              <div class="form-group age">
                                <select class="form-control" id="childAge4" name="">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                              </div>
                            </li>
                            <li>
                              <div class="form-group age">
                                <select class="form-control" id="childAge5" name="">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                              </div>
                            </li>
                          </ul>
                        </div>
                        
                        <div class="form-group col-lg-8 col-xs-12">
                          <label>Фамилия Имя Отчество</label>
                          <input type="text" class="form-control" placeholder="Фамилия Имя Отчество">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Номер телефона</label>
                          <input type="text" class="form-control" placeholder="Номер телефона">
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Адрес электронной почты</label>
                          <input type="text" class="form-control" placeholder="Адрес электронной почты">
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                          <label>Ваш город</label>
                          <input type="text" class="form-control" placeholder="Ваш город">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-12 col-xs-12">
                          <label>Дополнительная информация</label>
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <button type="button" class="btn btn-success">Забронировать</button>
                        </div>
                      </div>
                    </form>
                  </div>
      </div>

    </div>



  </div>
</div>

</div>
<div class="strip"></div>
