<h1>Управление страницами</h1>

<table class="table">
  <thead>
    <tr>
      <th>Страница</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= link_to 'Правка', edit_manage_manage_page_path(page) %></td>
        <td><%= link_to 'Удалить', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить страницу', new_manage_manage_page_path %>