<%= form_for(@resort) do |f| %>
  <% if @resort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resort.errors.count, "error") %> prohibited this resort from being saved:</h2>

      <ul>
      <% @resort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :popular %><br>
    <%= f.check_box :popular %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
