<div class="container">
  <h1>Курорты</h1><span class="breadcrumbs"><a href="">Главная</a> &rarr; Курорты</span>
  <p>Более 30 курортов по всей территории России</p>
  <div class="row resorts-grid">
    <% @resorts.each do |resort| %>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 popular-resorts-item">
      <%= image_tag resort.image.url(:square), :class => 'img-responsive' %>
      <p class="<%= cycle('orange','blue','green','red') %>"><%= link_to resort.name, resort %></p>
    </div>
    <% end %>
  </div>
</div>