<%= image_tag @resort.image.url(:large), :class => "img-responsive resort-jumbo" %>
<div class="container">
	<div class="row resort-header">
		<div class="col-lg-6">
			<h1>Курорты</h1><span class="breadcrumbs"><%= link_to 'Главная', root_path %> &rarr; <%= link_to 'Курорты', resorts_path %> &rarr; <%= @resort.name %></span>
			<p>Более 30 курортов по всей территории России</p>
		</div>
		<div class="col-lg-6 ">
			<ul class="resort-filter list-inline pull-right">

				<li><span>Показывать</span></li>
				<li>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Все типы
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Отели</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Санатории</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Пансионаты</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Частные гостиницы</a></li>
						</ul>
					</div>
				</li>
				<li class="filter-link"><a href="">по цене </a><span class="triangle">&#x25BC;</span></li>
				<li class="filter-link"><a href="">по названию </a><span class="triangle">&#x25BC;</span></li>
			</ul>
		</div>
	</div>
</div>

<div class="objects-grid">
	<div class="container">
		<div class="row">
			<% @resort.hotels.each do |hotel| %>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="objects-grid-item">
						<h3><a href=""><%= hotel.name %></a></h3>
						<%= image_tag hotel.image.url(:rectangle), :class => "img-responsive" %>
						<div class="objects-grid-item-excerpt">
							<ul class="list-inline">
								<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
								<li><a href=""><%= hotel.resort.try(:name) %></a></li>
							</ul>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<span class="objects-grid-item-price"><%= hotel.minimal_price %></span>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right look-btn">
								<%= button_to hotel.name, hotel, :class=> "btn btn-success btn-sm", :method => :get %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			<div class="resort-more">
				<button type="button" class="btn btn-default">Показать еще</button>
			</div>
		</div>
	</div>
</div>
<div class="strip"></div>