<%= form_for(@about_page) do |f| %>
  <div class="row">
    <% if @about_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% @about_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :slug %><br>
      <%= f.text_field :slug, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <%= f.label :content %><br>
      <%= f.text_area :content, :class =>"form-control"  %>
    </div>
    <div class="form-group col-lg-8 col-xs-12">
      <div class="actions">
        <%= f.submit "Сохранить", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>