<h1>Управление страницами «О компании»</h1>

<table class="table">
  <thead>
    <tr>
      <th>Страница</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_pages.each do |about_page| %>
      <tr>
        <td><%= about_page.name %></td>
        <td><%= link_to 'Правка', edit_manage_manage_about_page_path(about_page) %></td>
        <td><%= link_to 'Удалить', about_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить страницу', new_manage_manage_about_page_path %>