<% if user_signed_in? %>
	<div class="admin-bar">
		<ul class="list-inline">
			<li><%=link_to 'На сайт', root_path %></li>
			<li><%=link_to 'Личный кабинет', user_profile_path(current_user) %></li>
			<% if current_user.role_id == 6 %>
			<li><%=link_to 'Управление отелями', manage_manage_hotels_path %></li>
			<li><%=link_to 'Опции инфраструктуры', manage_manage_services_path %></li>
			<li><%=link_to 'Управление курортами', manage_manage_resorts_path %></li>
			<% end %>
			<% if current_user.role_id == 4 %>
			<li><%=link_to 'Управление отелями', manage_manage_hotels_path %></li>
			<li><%=link_to 'Опции инфраструктуры', manage_manage_services_path %></li>
			<li><%=link_to 'Управление курортами', manage_manage_resorts_path %></li>
			<% end %>
			<% if current_user.role_id == 6 %>
			<li><%=link_to 'Управление пользователями', manage_manage_users_path %></li>
			<li><%=link_to 'Управление страницами компании', manage_manage_about_pages_path %></li>
			<li><%=link_to 'Управление статическими страницами', manage_manage_pages_path %></li>
			<% end %>
			
			<li class="pull-right"><%= current_user.email %> | <%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
		</ul>
	</div>
<% end %>