<!DOCTYPE html>
<html>
<head>
  <title>Bron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin_bar' %>

<div class="container header">
	<div class="row">
		<div class="col-lg-5 header-logo">
			<a href="/"><img alt="Header logo" src="/assets/header-logo.svg" /></a>
		</div>
		<div class="col-lg-4 header-buttons">
			<ul class="list-inline">
				<li class="header-region">Регион:</li>
				<li>
					<div class="dropdown">
						<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							Санкт-Петербург
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Москва</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Краснодар</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Минск</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<p>
				<a type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal">
					<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Обратный звонок
				</a>
	
					
				<% if user_signed_in? %>
					<%= link_to "/profile", :class=>"btn btn-info btn-xs", :method => :get do %>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Личный кабинет
					<% end %>
				<% else %>
					<%= link_to "/users/sign_in", :class=>"btn btn-info btn-xs", :method => :get do %>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Личный кабинет
					<% end %>
				<% end %>
			</p>
		</div>
		<div class="col-lg-3 header-phone">
			<div class="header-phone-number">+7 (499) 704-21-11
				<p>ежедневно с 9-00 до 21-00</p></div>
			</div>
		</div>
	</div>
</div>
<div class="main-menu">
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Главная', root_path %></li>
				<li><%= link_to 'О компании', about_pages_path %></li>
				<% Page.all.each do |page| %>
					<li><%= link_to page.name, page %></li>
				<% end %>
				<li><%= link_to 'Оплата тура', payment_path %></li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
</div>
<%= yield %>
<div class="container footer">
	<div class="footer-content">
		<div class="footer-logo">
			<img src="/assets/footer-logo.png">
		</div>
		<div class="footer-copyright">
			<p>© 2014 Центр Онлайн Бронирования</p>
		</div>
		<div class="footer-counters">
			<ul class="list-inline">
				<li><img src="http://placehold.it/102x46"></li>
				<li><img src="http://placehold.it/102x46"></li>
			</ul>
		</div>
		<div class="footer-social">
			<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,odnoklassniki,gplus" data-yashareTheme="counter"></div>
		</div>

	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Обратный звонок</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label>Ваше имя</label>
						<input type="text" class="form-control" placeholder="Ваше имя">
					</div>
					<div class="form-group">
						<label>Номер телефона</label>
						<input type="text" class="form-control" placeholder="+7(___)___-__-__">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info">Перезвоните мне</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
