<!DOCTYPE html>
<html>
<head>
  <title>Bron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin_bar' %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
